@import "./theme";

html,
body {
  background-color: @secondary-complement-color;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @secondary-color;
}

a {
  font-weight: bold;
  color: @secondary-color;
}

a:hover {
  color: @primary-color;
}

h1, h2, h3 {
  font-family: Georgia, serif;
}

h1 {
  font-size: 1.5rem !important;
}

h2 {
  font-size: 1.2rem;
}
